@model IEnumerable<Salon.WebUI.Models.Favorite>

@{
    ViewData["Title"] = "ViewFavorite";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ViewFavorite</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FavoriteId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalonId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FavoriteId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalonId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
