@model IEnumerable<Salon.WebUI.Models.Barber>

@{
    ViewData["Title"] = "ViewBarber";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ViewBarber</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BarberId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BarberName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalonId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearExperience)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PicUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BarberId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BarberName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalonId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearExperience)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PicUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
